node_modules
vendor
.env
.env.backup
.env.production
.DS_Store
.~lock.*#
.idea
CLAUDE.md

back/.phpunit.cache
back/public/build
back/public/hot
back/public/storage
back/storage/*.key
back/storage/pail
back/.phpactor.json
back/.phpunit.result.cache
back/auth.json

front/dist
front/.vite

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.fleet
/.nova
/.vscode
/.zed
